#banner {
	-fx-background-color: linear-gradient(to right, rgba(40, 130, 40, 1), rgba(100, 150, 100, 1), rgba(40, 130, 40, 1)) no-repeat fixed;
}

#title {
	-fx-font-size: 40px;
	-fx-font-family: Tahoma;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, rgba(25, 25, 25, 1), 3, 0.5, 2, 2);
	-fx-fill: white;
}

.helpButton {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-font-family: Tahoma;
}

.helpButton:hover{
	-fx-color: -fx-base;
}