.prompt {
	-fx-font-size: 12px;
	-fx-font-family: Tahoma;
}

.browseButton {
	-fx-font-family: Tahoma;
	-fx-font-size: 13px;
}

#proceedButton {
	
}

.alertText {
	-fx-fill: rgba(255, 0, 0, 1);
}

#assembly_disclaimer {
	-fx-font-size: 9px;
}

#quick_disclaimer {
	-fx-font-size: 9px;
}
